body {
  background-image: url("https://media.istockphoto.com/photos/beautiful-sky-with-white-cloud-picture-id1092506504?k=6&m=1092506504&s=612x612&w=0&h=bsGWBc6b2160tBEUQuLUbyjSknPUzQTqWB5uEjjrNmI=");
  background-repeat: no-repeat;
  background-size: cover;
}
p {
  text-align: center;
}
h5 {
  text-align: center;
  text-decoration: solid;
  color: black;
  font-family: fantasy;
}
h4 {
  font-family: inherit;
}
h1 {
  font-family: fantasy;
}
h1,
h5,
h4,
h6 {
  text-align: center;
}
form {
  text-align: center;
}

h1,
h3 {
  color: black;
}

h3 {
  padding-top: 15px;
  text-align: center;
}

#color-correct {
  background-color: #63a4ff;
  background-image: linear-gradient(315deg, #00ffff 0%, #1cb5e0 74%);
}
.border {
  display: block;
  margin: 0 auto;
}
.container {
  margin: 30px;
  padding: 30px;
}
#forecast {
  text-align: center;
  font-family: fantasy;
  font-size: 20px;
}
.col-4 {
  margin-bottom: 15px;
}
.card {
  background-color: #63a4ff;
  background-image: linear-gradient(315deg, #00ffff 0%, #1cb5e0 74%);
  border-radius: 20px;
}
#photo {
  display: block;
  margin: 0 auto;
}
.centerTemp {
  display: block;
  border-radius: 20px;
}
.heading {
  margin-top: 20px;
}
.subinfo {
  border: none;
}
.subhead {
  text-decoration: underline;
}
.temp {
  font-size: 50px;
}

.link {
  text-align: left;
  margin-left: 130px;
  color: black;
  border: none;
}
